flows_Dir-Tech.json
[
    {
        "id": "bf04012bb9c4db3c",
        "type": "tab",
        "label": "TIA V17-TCP Comm",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a16b43610510801f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "79276e50b07daca8",
        "type": "FINS Connection",
        "name": "PLC_NJ101",
        "host": "10.171.50.190",
        "port": "9600",
        "MODE": "",
        "MODEType": "NJ",
        "protocol": "",
        "protocolType": "udp",
        "ICF": "128",
        "DNA": "",
        "DA1": "190",
        "DA2": "",
        "SNA": "",
        "SA1": "225",
        "SA2": "",
        "autoConnect": true
    },
    {
        "id": "51e74a595f553ae5",
        "type": "FINS Connection",
        "name": "PLC_NX102",
        "host": "10.171.50.39",
        "port": "9600",
        "MODE": "",
        "MODEType": "NX",
        "protocol": "",
        "protocolType": "udp",
        "ICF": "128",
        "DNA": "",
        "DA1": "",
        "DA2": "",
        "SNA": "",
        "SA1": "120",
        "SA2": "",
        "autoConnect": true
    },
    {
        "id": "74203f95acf916b9",
        "type": "inject",
        "z": "bf04012bb9c4db3c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "LOT",
        "payload": "22S1803D1U",
        "payloadType": "str",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "f19b04bfc557efa9"
            ]
        ]
    },
    {
        "id": "4169e7c5f58df899",
        "type": "tcp out",
        "z": "bf04012bb9c4db3c",
        "name": "",
        "host": "192.168.1.10",
        "port": "4000",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "a687c4ad4a1f3ebc",
        "type": "inject",
        "z": "bf04012bb9c4db3c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DATE",
        "payload": "18NOV23",
        "payloadType": "str",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "f19b04bfc557efa9"
            ]
        ]
    },
    {
        "id": "5a5fbb6abb0bf7a7",
        "type": "template",
        "z": "bf04012bb9c4db3c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.LOT}}{{payload.DATE}}",
        "output": "str",
        "x": 560,
        "y": 60,
        "wires": [
            [
                "4169e7c5f58df899"
            ]
        ]
    },
    {
        "id": "f19b04bfc557efa9",
        "type": "join",
        "z": "bf04012bb9c4db3c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "5a5fbb6abb0bf7a7"
            ]
        ]
    }
]