flows_Dir-Tech.json
[{"id":"bf04012bb9c4db3c","type":"tab","label":"Test TIA V17","disabled":false,"info":"","env":[]},{"id":"4dd0a4a3.141a9c","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"a16b43610510801f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"79276e50b07daca8","type":"FINS Connection","name":"PLC_NJ101","host":"10.171.50.190","port":"9600","MODE":"","MODEType":"NJ","protocol":"","protocolType":"udp","ICF":"128","DNA":"","DA1":"190","DA2":"","SNA":"","SA1":"225","SA2":"","autoConnect":true},{"id":"51e74a595f553ae5","type":"FINS Connection","name":"PLC_NX102","host":"10.171.50.39","port":"9600","MODE":"","MODEType":"NX","protocol":"","protocolType":"udp","ICF":"128","DNA":"","DA1":"","DA2":"","SNA":"","SA1":"120","SA2":"","autoConnect":true},{"id":"344d5e0e59c4cecb","type":"s7comm","ip":"192.168.1.10","port":"102","rack":"0","slot":"1","payload":[{"S7_Type":"DB","S7_DBnum":"1","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"Button1"}]},{"id":"28fc7c817f04ac8e","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.1.10","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"DB18,S0.16","name":"Data_Nodered"},{"addr":"DB2,C12","name":"Var1"}]},{"id":"74203f95acf916b9","type":"inject","z":"bf04012bb9c4db3c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"DIMAS KANJENG","payloadType":"str","x":210,"y":480,"wires":[["4169e7c5f58df899"]]},{"id":"336007b0dfb5fe98","type":"inject","z":"bf04012bb9c4db3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"expDate","payload":"18NOV23","payloadType":"str","x":200,"y":820,"wires":[[]]},{"id":"fed0c2e2608c1525","type":"s7 out","z":"bf04012bb9c4db3c","endpoint":"28fc7c817f04ac8e","variable":"Data_Nodered","name":"","x":420,"y":660,"wires":[]},{"id":"8389a7f8b93a14fd","type":"inject","z":"bf04012bb9c4db3c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"S","payloadType":"str","x":150,"y":740,"wires":[["217941636991a98a"]]},{"id":"217941636991a98a","type":"s7 out","z":"bf04012bb9c4db3c","endpoint":"28fc7c817f04ac8e","variable":"Var1","name":"","x":390,"y":740,"wires":[]},{"id":"d3178113fbe808bb","type":"s7 in","z":"bf04012bb9c4db3c","endpoint":"28fc7c817f04ac8e","mode":"single","variable":"Var1","diff":true,"name":"","x":150,"y":920,"wires":[["7087fc2bdfa74146"]]},{"id":"7087fc2bdfa74146","type":"debug","z":"bf04012bb9c4db3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":920,"wires":[]},{"id":"4169e7c5f58df899","type":"tcp out","z":"bf04012bb9c4db3c","name":"","host":"192.168.1.10","port":"2000","beserver":"client","base64":false,"end":false,"tls":"","x":560,"y":480,"wires":[]},{"id":"916db5ae.0434c8","type":"debug","z":"4dd0a4a3.141a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":100,"wires":[]},{"id":"2bd16383.d74d9c","type":"inject","z":"4dd0a4a3.141a9c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"B0","payload":"10","payloadType":"num","x":250,"y":240,"wires":[["43867ead.fea44"]]},{"id":"addcbd04.431fb","type":"inject","z":"4dd0a4a3.141a9c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"B0","payload":"0","payloadType":"num","x":250,"y":200,"wires":[["43867ead.fea44"]]},{"id":"6f576722.7ac128","type":"inject","z":"4dd0a4a3.141a9c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"B1","payload":"15","payloadType":"num","x":250,"y":320,"wires":[["43867ead.fea44"]]},{"id":"1ef8cc84.dca1e3","type":"inject","z":"4dd0a4a3.141a9c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"B1","payload":"0","payloadType":"num","x":250,"y":280,"wires":[["43867ead.fea44"]]},{"id":"43867ead.fea44","type":"change","z":"4dd0a4a3.141a9c","name":"","rules":[{"t":"set","p":"variable","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[[]]},{"id":"43dd1926.af3a18","type":"change","z":"4dd0a4a3.141a9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, payload, payload, payload]","tot":"jsonata"},{"t":"set","p":"variable","pt":"msg","to":"[\"B0\", \"B1\", \"B2\", \"B3\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":460,"wires":[[]]},{"id":"c9136c43.260c2","type":"inject","z":"4dd0a4a3.141a9c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":250,"y":420,"wires":[["43dd1926.af3a18"]]},{"id":"7fb7169c.d904b8","type":"inject","z":"4dd0a4a3.141a9c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":250,"y":460,"wires":[["43dd1926.af3a18"]]},{"id":"7d76a8c3.d9ab88","type":"inject","z":"4dd0a4a3.141a9c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":250,"y":500,"wires":[["43dd1926.af3a18"]]}]